{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create goods received{% endblock title %}

{% block content %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Goods Received Note</title>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
      
                <script>
                    $(document).ready(function(){
                         $('select#product1').change(function () {
                             var optionSelected = $(this).find("option:selected");
                             var valueSelected  = optionSelected.val();
                              var product_name   = optionSelected.text();
                              $(':input[name$=category]').val(product_name);
                             
                              data = {'cnt' : product_name };
                                ajax('/getdetails',data,function(result){
        
                                        console.log(result);
                                        alert(result['0']['name']+product_name)
                                        $("#item1 option").remove();
                                        for (var i = result.length - 1; i >= 0; i--) {
                                            $("#item1").append('<option>'+ result[i].name +'</option>');
                                        };
        
        
                                    });
    
                            $('select#item1').change(function () {
                                var optionSelected = $(this).find("option:selected");
                                var valueSelected  = optionSelected.val();
                                var product_name   = optionSelected.text();
                                alert(product_name);
                                $(':input[name$=subcategory]').val(product_name);
                            });
                          });
                    });
                </script>
    <style type="text/css">
  
  table, th, tbody {

            /* width: 100%;
             margin: 5px;  */
            border: 1px solid black;
            padding: 8px;
            border-collapse: collapse;
        }
        /* .td1 {border: 0;}  */
        
        b {

            font-size:12px;
        }
td:nth-child(even) {
  background-color: #dddddd;
}
        </style>
        </head>
        <body>
<!-- <h3 style="text-align: right;">FM/QMS/16      Version 2: October  2015    </h3> -->
            <br>
            <p></p>
            <br>
        <!-- <table >
            <tr>
                <td style="border-color:#ffffff;"> <img src="http://brti.co.zw/wp-content/uploads/2020/12/brti.png" width="60" height="60"> </td>

                <td style="padding: 8px; width: 80%; text-align: center;"> <b>Biomedical Research and Training Institute</b> </td>
                <td style="border-color:#ffffff;"> <img src="http://brti.co.zw/wp-content/uploads/2020/12/brti.png" width="60" height="60"> </td>
            </tr>
        </table> -->

<h3 style="text-align: center; margin-bottom: -10px; margin-top:15px;">Issue Receipt Voucher </h3>
<br>
<p></p>
<br>

    <body>
        
        <form method="POST" action="{% url 'search_product' %}">
            {% csrf_token %}

            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
            <input class="form-control me-2" type="search" placeholder="Search"
            aria-label="Search" name="searched">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
                    </div>
        </form>

        <form method="POST" action="{% url 'print_check' %}">
            {% csrf_token %}

            <input type='submit' />
        <table style="width: 100%">
            <thead>
                <th style="width: 20%;">Select</th>
                <th style="width: 20%;">Customer name</th>
                <th style="width: 15%;">Date</th>
                <th style="width: 5%;">Quantity</th>
                <th style="width: 20%;">Description</th>
                <th style="width: 5%;">Order Number</th>
                <th style="width: 5%;">Category</th>
                <th style="width: 10%;">Unit Cost</th>
                <th style="width: 10%;">Ordered By</th>
                <th style="width: 10%;">Received By</th>
                <th style="width: 10%;">Checked By</th>
                <th style="width: 5%;">Issued</th>
            </thead>

            {% for x in all_objects %}
            <tbody>
                <td><input type="checkbox" name="checks" value={{x.id}}></td>
                <td>{{x.customer}}</td>
                <td>{{x.date}}</td>
                <td>{{x.quantity}}</td>
                <td>{{x.description}}</td>
                <td>{{x.order_no}}</td>
                <td>{{x.category}}</td>
                <td>{{x.unit_cost}}</td>
                <td>{{x.ordered_by}}</td>
                <td>{{x.received_by}}</td>
                <td>{{x.checked_by}}</td>
                <td>{% if x.issued == 0 %} Not Issued {% else %} Issued {% endif %}</td>
            </tbody>
            {% endfor %}
        </table>
        
    </form>
    </body>
</html>
{% endblock content %}
